<h1>Add your Geocache Below!</h1>
<md-grid-list cols="1" rowHeight='750px;'>
  <md-grid-tile>
    <div class="geo-add">
      <form class="form" #formData="ngForm" (ngSubmit)="addGeoCache(formData); false">

        <table class="form-full-width" cellspacing="0"><tr>
        <td><md-input-container class="form-full-width">
          <input mdInput name="first" placeholder="First name" ngModle>
        </md-input-container></td>
        <td><md-input-container class="form-full-width">
          <input mdInput name="last" placeholder="Last Name" ngModle >
        </md-input-container></td>
        </tr></table>

        <md-radio-group>
          <md-checkbox>
            Location Input:
          </md-checkbox>
          <md-radio-button name="toggle" value="latlng" (click)="toggleDisplay('latlong')" checked ngModle >Latitude and Longitude</md-radio-button>
          <md-radio-button name="toggle" value="address" (click)="toggleDisplay('address')" ngModle >Street address</md-radio-button>
        </md-radio-group>


        <div  *ngIf="toggle === 'latlong'">
          <table class="form-full-width-width" cellspacing="0"><tr>
            <td><md-input-container class="form-full-width">
              <input mdInput name="lat" placeholder="Latitude" ngModle >
            </md-input-container></td>
            <td><md-input-container class="form-full-width">
              <input mdInput name="lng" placeholder="Longitude" ngModle >
            </md-input-container></td>
            </tr>
          </table>
        </div>

        <div *ngIf="toggle === 'address'">
          <table class="form-full-width" cellspacing="0">
            <tr>
              <td><md-input-container class="form-full-width">
                <input mdInput name="streetNumber" placeholder="Street number" ngModle>
              </md-input-container></td>
              <td><md-input-container class="form-full-width">
                <input mdInput name="street" placeholder="Street" ngModle>
              </md-input-container></td>
              <td><md-input-container class="form-full-width">
                <input mdInput name="city" placeholder="City" ngModle>
              </md-input-container></td>
              <td><md-input-container class="form-full-width">
                <input mdInput name="state" placeholder="State" ngModle>
              </md-input-container></td>
              <td><md-input-container class="form-full-width">
                <input mdInput name="postal" #postalCode maxlength="5" placeholder="Postal Code" value="" ngModle>
                <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
              </md-input-container></td>
            </tr>
          </table>
        </div>
          <md-input-container class="form-full-width">
            <input mdInput name="state" placeholder="State" #newState ngModle>
          </md-input-container>
          <button md-raised-button type="submit">Submit</button>
      </form>
    </div>
  </md-grid-tile>
</md-grid-list>
