<h1>Add a Cache!</h1>
<md-grid-list cols="1" rowHeight='750px;'>
  <md-grid-tile>
    <form #formData="ngForm" (ngSubmit)="addGeoCache(formData); false">
      <label for="name">Name:</label>
      <input type="text" name="first" placeholder="first" ngModel>
      <input type="text" name="last" placeholder="last" ngModel>

      <label for="toggle">Location type:</label>
      <input type="radio" name="toggle" value="latlng" (click)="toggleDisplay('latlong')" checked ngModel> Lat-Long
      <input type="radio" name="toggle" value="address" (click)="toggleDisplay('address')" ngModel> Address

      <div *ngIf="toggle === 'latlong'">
        <label for="lat">Latitude: </label>
        <input type="text" name="lat" ngModel>

        <label for="long">Longitutde: </label>
        <input type="text" name="lng" ngModel>
      </div>


      <div *ngIf="toggle === 'address'">
        <label for="streetNumber">Street Number: </label>
        <input type="text" name="streetNumber" ngModel>

        <label for="street">Street: </label>
        <input type="text" name="street" ngModel>

        <label for="city">City: </label>
        <input type="text" name="city" ngModel>

        <label for="state">State: </label>
        <input type="text" name="state" ngModel>

        <label for="zipCode">Zip Code: </label>
        <input type="text" name="postal" ngModel>
      </div>


      <button type="submit">Submit</button>
    </form>


  </md-grid-tile>
</md-grid-list>
