<md-card class="card">
  <md-card-header>
    <md-card-title>{{geoToDisplay.first}} {{geoToDisplay.last}}</md-card-title>
    <md-card-subtitle>Located in {{geoToDisplay.state}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <h4>Address: {{geoToDisplay.address}} {{geoToDisplay.city}} {{geoToDisplay.state}} {{geoToDisplay.postal}}</h4>
    <h4>Latitude and Longitude: {{geoToDisplay.lat}},{{geoToDisplay.lng}}</h4>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="goToDetailPage(geo)">See More Details!</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
